@model RealEstate.Application.Dtos.dbo.MensajesDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MensajesDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@* 
            <div class="form-group">
                <label asp-for="RemitenteID" class="control-label"></label>
                <input asp-for="RemitenteID" class="form-control" />
                <span asp-validation-for="RemitenteID" class="text-danger"></span>
            </div> *@

            <input asp-for="RemitenteID" type="hidden" />


@*             <div class="form-group">
                <label asp-for="DestinatarioID" class="control-label"></label>
                <input asp-for="DestinatarioID" class="form-control" />
                <span asp-validation-for="DestinatarioID" class="text-danger"></span>
            </div> *@

            <input asp-for="DestinatarioID" type="hidden" />

@*             <div class="form-group">
                <label asp-for="PropiedadID" class="control-label"></label>
                <input asp-for="PropiedadID" class="form-control" />
                <span asp-validation-for="PropiedadID" class="text-danger"></span>
            </div> *@

            <input asp-for="PropiedadID" type="hidden" />

            <div class="form-group">
                <label asp-for="Mensaje" class="control-label"></label>
                <input asp-for="Mensaje" class="form-control" />
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>

@*             <div class="form-group">
                <label asp-for="Enviado" class="control-label"></label>
                <input asp-for="Enviado" class="form-control" />
                <span asp-validation-for="Enviado" class="text-danger"></span>
            </div> *@

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Visto" /> @Html.DisplayNameFor(model => model.Visto)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
